{% render "_header.html" %}
    <div class="banner-wrap">
      <div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image" style="background-image: url(&quot;/uploads/6/4/9/4/64940231/background-images/951562005.jpg&quot;) ;background-repeat: no-repeat ;background-position: 50% 50% ;background-size: 100% ;background-color: transparent ;background-size: cover;" >
		<div class="wsite-section-content">

        <div class="container">
          <div class="banner">
				<div class="wsite-section-elements">
					<h2 class="wsite-content-title">Board of Directors</h2>
				</div>
			</div>
        </div><!-- end container -->

		</div>
		<div class=""></div>
	</div>
</div>

</div>

    </div><!-- end banner-wrap -->
    <div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-50"  >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<h2 class="wsite-content-title" style="text-align:center;"><font size="7">2025-2026 BOARD OF DIRECTORS</font></h2>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="uploads/6/4/9/4/64940231/untitled-design-7_orig.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="paragraph" style="text-align:center;"><font color="#2a2a2a">THANK YOU to our fantastic preschool co-op board members of 2024-25. These incredible volunteers pour their hearts into creating a nurturing, engaging, and joyful environment for our little ones. Their dedication and passion make all the difference in our vibrant school community.</font><br /><font color="#2a2a2a">We're also excited to announce that we're welcoming new members to our board! This is your chance to make a meaningful impact, bring fresh ideas, and help shape the future of our preschool.<br />&#8203;Join us in this rewarding journey to keep our co-op flourishing. Let's make magic happen together!</font></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>
			</div>
		</div>
      </div>

	</div>
</div>
<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-51"  >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">

			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

     {% render "_footer.html" %}
