{% render "_header.html" %}
    <div class="banner-wrap">
      <div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image" style="height: 250px;vertical-align: middle;background-image: url(&quot;/uploads/6/4/9/4/64940231/background-images/1933802865.jpg&quot;) ;background-repeat: no-repeat ;background-position: 50.00% 24.62% ;background-size: 100% ;background-color: transparent ;background-size: cover;" >
		<div class="wsite-section-content">

        <div class="container">
          <div class="banner">
				<div class="wsite-section-elements">
					<h2 class="wsite-content-title"><font size="7" style="">SUPPORT us</font></h2>

<div class="paragraph"></div>
				</div>
			</div>
        </div><!-- end container -->

		</div>
		<div class=""></div>
	</div>
</div>

</div>
    <div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-35"  >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -10px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:34.043290748005%; padding:0 10px;">

<img src="uploads/6/4/9/4/gift_of_play.jpeg" width="300" />
<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="hosted_button_id" value="BUX3V5PVNFF98" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

			        </td>
				<td class="wsite-multicol-col" style="width:34.043290748005%; padding:0 10px;">

                                  <h3>Donate Today...Give the Gift of Play</h3>
                                  <div>
Play is a vital opportunity for young minds.  Before they learn how to read and write, play allows them to make sense of their world in multi-faceted ways.  Giving the gift of time to play is a true treasure of the spirit.

At Soquel PENS, we hand families the tools for respectful relationships and support their discoveries.

Your contribution helps us to continue to build something amazing...
                                  </div>
                                  <br />
<div>
<i>Soquel PENS is a 501(c)(3) nonprofit organization (Tax ID #77-0465586). Donations are tax-deductible to the extent allowed by law.

Donations are used for school and curriculum improvements, scholarships, professional development, and more. To donate online, click the link below.
</i>
</div>
</td>

                        </tr>

		</tbody>
	</table>
</div></div></div>
			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

     {% render "_footer.html" %}
