{% render "_header.html" %}
    <div class="banner-wrap">
      <div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image" style="background-image: url(&quot;/uploads/6/4/9/4/64940231/background-images/1366250879.jpg&quot;) ;background-repeat: no-repeat ;background-position: 50.00% 56.12% ;background-size: 100% ;background-color: transparent ;background-size: cover;" >
		<div class="wsite-section-content">

        <div class="container">
          <div class="banner">
				<div class="wsite-section-elements">
					<h2 class="wsite-content-title"></h2>
				</div>
			</div>
        </div><!-- end container -->

		</div>
		<div class=""></div>
	</div>
</div>

</div>

    </div><!-- end banner-wrap -->
    <div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-80"  >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">

			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

     {% render "_footer.html" %}
