{% render "_header.html" %}

<pens-page-hero
  heading="Jamba"
  heading-accent="BOGO"
  subheading="Jamba BOGO Smoothie Fundraising Cards."
  breadcrumb="Jamba BOGO Smoothie"
  bgimage="/uploads/6/4/9/4/64940231/background-images/119899516.jpg">
</pens-page-hero>


<div class="page-body">
  <div class="container">
    <div class="resources-grid">

      <!-- ══ MAIN COLUMN ══ -->
      <div class="main-col">
        <div class="res-section" id="jamba">

        <img src="/uploads/6/4/9/4/64940231/s371663783442606631_p30_i3_w1080.png" width="340" />

        <paypal-add-to-cart-button data-id="JDGRPVVG8AVSN"></paypal-add-to-cart-button>
        <script>
          cartPaypal.AddToCart({ id: "JDGRPVVG8AVSN" })
        </script>
        </div>
      </div>
    </div>
  </div>
</div>

{% render "_footer.html" %}
