{% render "_header.html" %}
    <div class="banner-wrap">
      <div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image" style="background-image: url(&quot;/uploads/6/4/9/4/64940231/background-images/1056733330.jpg&quot;) ;background-repeat: no-repeat ;background-position: 50.00% 74.82% ;background-size: 100% ;background-color: transparent ;background-size: cover;" >
		<div class="wsite-section-content">

        <div class="container">
          <div class="banner">
				<div class="wsite-section-elements">
					<h2 class="wsite-content-title">Member Information</h2>
				</div>
			</div>
        </div><!-- end container -->

		</div>
		<div class=""></div>
	</div>
</div>

</div>

    </div><!-- end banner-wrap -->
    <div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-72" style="height: auto;" >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="uploads/6/4/9/4/64940231/editor/spens-banner-spens.png?1660845611" alt="Picture" style="width:708;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-normal" href="" target="_blank">
<span class="wsite-button-inner">Button Text</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div class="paragraph" style="text-align:center;"></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<h2 class="wsite-content-title" style="text-align:center;"><font size="7" color="#ea1616">New Soquel PENS Merchandise!</font></h2>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="uploads/6/4/9/4/64940231/screen-shot-2022-04-22-at-8-13-10-pm_orig.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="paragraph">T-Shirts and Crew Necks and Tote Bags.... OH MY!<br /><br />Visit our new bonfire.com store and snag your family some SPENS Merch!<br />All items shipped directly to you.<br />&#8203;Represent and support our school!</div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-normal" href="https://www.bonfire.com/store/soquel-pens-merch/" target="_blank">
<span class="wsite-button-inner">sPENS MERCHANDISE STORE</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:center;"><font color="#0308fa" size="7"><strong>2025-2026 SCHOOL CALENDAR</strong></font></div>

<div class="paragraph"></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="uploads/6/4/9/4/64940231/spens-25-26-2_orig.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>
			</div>
		</div>
      </div>

	</div>
</div>
<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-45"  >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<h2 class="wsite-content-title" style="text-align:center;"><font size="7" color="#f6a107">SPENS BOARD MEETINGS</font></h2>

<div class="paragraph">Soquel PENS Volunteer Board meets the first Wednesday of every month from 6:30 - 8:30 pm.<br /><br />Because we value input from our entire community - there is a dedicated half hour in meetings for our Membership to bring questions, concerns and school-related issues to the team.<br />&#8203;If you would like to attend a meeting, please send an email to the Board President using the link button below.<br />&#8203;Meeting minutes will be posted at the school.</div>

<div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="mailto:soquelpens@gmail.com" >
<span class="wsite-button-inner">BOARD MEETINGS</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div class="paragraph"><em>Meeting agenda, Zoom link, and past meeting minutes available on request.</em></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title" style="text-align:center;"><font size="7" color="#27a509">HEALTH POLICIES</font></h2>

<h2 class="wsite-content-title" style="text-align:center;"><strong>Our complete health &amp; wellness policy&nbsp;can be found in our school handbook<br /><font size="3">&#8203;(bottom of page)</font></strong></h2>

<div class="paragraph">As a preventative measure, we encourage all students, staff, and parents to<strong>&nbsp;take common-sense precautions</strong>&nbsp;to prevent the spread of&nbsp;<em>all&nbsp;</em>infectious diseases, including common illnesses like colds and the flu. Such precautions include:<ul style="color:rgb(20, 27, 30)"><li>Stay home if you are sick. Those who have a fever should stay home for at least 24 hours after they no longer have a fever without the use of fever-reducing medicine.</li><li>Promote hand hygiene among families through education, frequent&nbsp;hand-washing, and ensuring the availability of soap, water, and hand sanitizer.</li><li>Avoid touching your eyes, nose, and mouth.</li><li>Teach and encourage safe cough etiquette &ndash; cough or sneeze into a tissue, sleeve, or arm (do not use hands).</li><li>Provide routine surface cleaning at home, vehicles and school.</li></ul></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="uploads/6/4/9/4/64940231/spens-covid-protocol-2023-24_orig.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="paragraph"><em>* Soquel PENS is committed to following the Santa Cruz County Office of Education guidelines for Covid-19 Exposures and Isolation. To learn more, visit their site <a href="https://santacruzcoe.org/health/" target="_blank">HERE</a>.<br />&#8203;* For information on testing sites, click <a href="https://covid19test.santacruzcoe.org" target="_blank">HERE</a>.</em><br /></div>

<div id="139464311830293207"><div><style type="text/css">
	#element-ffbd14c8-3054-407a-a620-9e43473bb744 .paragraph {
  padding: 0 !important;
  margin: 0 !important;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion {
  padding: 20px 0;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item > .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item > .accordion__title span {
  opacity: 0.5;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item > .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item > .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item.active > .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item.active > .accordion__title span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item.active > .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple .accordion__item.active > .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item > .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item > .accordion__title span {
  opacity: 0.5;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item > .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item > .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item.active > .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item.active > .accordion__title span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item.active > .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material .accordion__item.active > .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material > .accordion__item {
  margin-bottom: 1px;
  box-shadow: none;
  transition: 500ms ease;
  z-index: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material > .accordion__item.active {
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  z-index: 3;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item > .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item > .accordion__title span {
  opacity: 0.5;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item > .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item > .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item.active > .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item.active > .accordion__title span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item.active > .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box .accordion__item.active > .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box > .accordion__item {
  transition: 500ms ease;
  border: 1px solid #919191;
  z-index: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box > .accordion__item.active {
  z-index: 3;
  border: 1px solid #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item > .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item > .accordion__title span {
  opacity: 0.5;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item > .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item > .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item.active > .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item.active > .accordion__title span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item.active > .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item.active > .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item > .accordion__title:hover {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--simple.no-touch .accordion__item > .accordion__title:hover span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item > .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item > .accordion__title span {
  opacity: 0.5;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item > .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item > .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item.active > .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item.active > .accordion__title span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item.active > .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item.active > .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item > .accordion__title:hover {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item > .accordion__title:hover span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch > .accordion__item {
  margin-bottom: 1px;
  box-shadow: none;
  transition: 500ms ease;
  z-index: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch > .accordion__item.active {
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  z-index: 3;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--material.no-touch .accordion__item:hover {
  box-shadow: ;
  z-index: 3;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item > .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item > .accordion__title span {
  opacity: 0.5;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item > .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item > .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item.active > .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item.active > .accordion__title span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item.active > .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item.active > .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item > .accordion__title:hover {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item > .accordion__title:hover span {
  opacity: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch > .accordion__item {
  transition: 500ms ease;
  border: 1px solid #919191;
  z-index: 1;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch > .accordion__item.active {
  z-index: 3;
  border: 1px solid #9e9e9e;
}
#element-ffbd14c8-3054-407a-a620-9e43473bb744 > .accordion--box.no-touch .accordion__item:hover {
  z-index: 3;
}

</style><div id="element-ffbd14c8-3054-407a-a620-9e43473bb744" data-platform-element-id="915890017822203553-1.3.9" class="platform-element-contents">
	<div class="accordion accordion--simple no-touch">
        <div class="accordion__item" data-item="0">
            <div class="accordion__title">
                <span><div class="paragraph">by laws</div><span>
            </div>
            <div class="accordion__content">
                <div style="padding: 10px 20px 20px;">
                    <div style="width: auto"><div></div><div class="paragraph"><a href="https://www.soquelpens.org/uploads/6/4/9/4/64940231/2017_constitution_and_bylaws_of_the_soquel_parents_education_nursery_school_1.pdf" target="_blank">Click here to view our bylaws that delineates how our school functions and defines every Board position.</a></div></div>
                </div>
            </div>
        </div>
        <div class="accordion__item" data-item="1">
            <div class="accordion__title">
                <span><div class="paragraph">orientation</div><span>
            </div>
            <div class="accordion__content">
                <div style="padding: 10px 20px 20px;">
                    <div style="width: auto"><div></div><div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="javascript:;" >
<span class="wsite-button-inner">daily Schedule</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="uploads/6/4/9/4/64940231/beginning_of_the_year_checklist__1_.pdf" target="_blank">
<span class="wsite-button-inner">beginning of year Checklist</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="uploads/6/4/9/4/64940231/workdayjobs.pdf" target="_blank">
<span class="wsite-button-inner">Work Day Jobs</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="uploads/6/4/9/4/64940231/snack_guidelines.pdf" target="_blank">
<span class="wsite-button-inner">Snack Guidelines</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="uploads/6/4/9/4/64940231/bringingsiblingstotheco-op.pdf" target="_blank">
<span class="wsite-button-inner">sibling policy</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="uploads/6/4/9/4/64940231/sickpolicies.pdf" target="_blank">
<span class="wsite-button-inner">sick policy</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div></div>
                </div>
            </div>
        </div>
</div>
</div>
<div style="clear:both;"></div><script type="text/javascript" class="element-script">function setupElement139464311830293207() {
	var requireFunc = window.platformElementRequire || window.require;

	// Relies on a global require, specific to platform elements
	requireFunc([
		'w-global',
		'underscore',
		'jquery',
		'backbone',
		'util/platform/elements/PlatformElement',
		'util/platform/elements/PlatformElementSettings'
	], function(
		_W,
		_,
		$,
		Backbone,
		PlatformElement,
		PlatformElementSettings
	) {
		var dependencies = null || [];
		var platform_element_id = "915890017822203553-1.3.9";

		if (typeof _W.loadedPlatformDependencies === 'undefined') {
			_W.loadedPlatformDependencies = [];
		}

		if (typeof _W.platformElements === 'undefined') {
			_W.platformElements = [];
		}

		if (typeof _W.platformElements[platform_element_id] === 'undefined') {
			_W.platformElements[platform_element_id] = {};
			_W.platformElements[platform_element_id].deferredObject = new $.Deferred();
			_W.platformElements[platform_element_id].deferredPromise = _W.platformElements[platform_element_id].deferredObject.promise();
		}

		if(_.intersection(_W.loadedPlatformDependencies, dependencies).length !== dependencies.length){
			_.reduce(dependencies, function(promise, nextScript){
				_W.loadedPlatformDependencies.push(nextScript);
				return promise.then(function(){
					return $.getScript(nextScript);
				});
			}, $().promise()).then(function(){
				_W.platformElements[platform_element_id].deferredObject.resolve();
			});
		}

		if (dependencies.length === 0){
			_W.platformElements[platform_element_id].deferredObject.resolve();
		}

		_W.platformElements[platform_element_id].deferredPromise.done(function(){
			var _ElementDefinition = /**
 * This is required for element rendering to be possible
 * @type {PlatformElement}
 */
(function() {
    var Accordion = PlatformElement.extend({
        initialize: function() {
            this.activeIndex = this.settings.get('active_index');

            // if we have any iframes, we get an overlay
            this.$el.children('.platform-element-overlay').hide();

            this.fixBoxStyleBorders();
            this.setupAccordion();
        },

         /**
         * Listens to size modifications in the content areas
         * and resizes them as needed
         */
        listenToContentChanges: function() {
            this.currentContent = this.getAccordion()
                .children('[data-item="' + this.settings.get('active_index') +  '"]')
                .children('.accordion__content');
            if (this.currentContent[0]) {
                this.contentInterval = setInterval(function() {
                    if (this.currentContent[0].scrollHeight + 20 != parseInt(this.currentContent.css('max-height'))) {
                        this.currentContent.css('max-height', this.currentContent[0].scrollHeight + 20 + 'px');
                    }
                }.bind(this), 50);
            }
        },

        /**
         * Simplistic jQuery usage to animate and control which
         * accordion item is currently open
         */
        setupAccordion: function() {
            var view = this;

            $titles = this.getTitles();
            $events = $._data($titles[0], "events");

            // if we already have set up click events, don't set more up
            if ($events && $events.click && $events.click[0]) {
                return;
            }

            $titles.on('touchstart click', function(e) {
                clearInterval(view.contentInterval);

                // remove "hover" state on touch events
                if (e.type == "touchstart") {
                    view.getAccordion().removeClass('no-touch');
                }

                e.stopPropagation();
                e.preventDefault();

                var isActive = $(this).parent().hasClass('active');

                // handles closing
                view.getTitles().each(function() {
                    var $this = $(this);
                    var $next = $(this).next();
                    var eachIsActive = $(this).parent().hasClass('active');

                    $next.css({
                        'max-height': 0 + 'px'
                    });

                    if (eachIsActive) {
                        setTimeout(function() {
                            $this.parent().removeClass('active');
                        }, 250);
                    }
                });

                // handles opening
                if (!isActive) {
                    $(this).parent().addClass('active');
                    var $next = $(this).next();
                    $next.css({
                        'max-height': $next[0].scrollHeight + 20 + 'px' // 20 to compensate for padding
                    });

                    setTimeout(function() {
                        $(window).resize();
                    }, 250);

                    view.listenToContentChanges();
                }

            });

            this.getTitles().on('touchend', function() {
                this.getAccordion().addClass('no-touch');
            }.bind(this));
        },

        /**
         * When using the 'Box' style, to avoid
         * thick borders on the top and bottom of
         * elements, we just shift all the elements up
         * 'i' pixels. Preferable over doing it through css
         * because all the items need all 4 borders on hover.
         */
        fixBoxStyleBorders: function() {
            var view = this;

            // only do it if the style is 'box'
            if (this.settings.get('style') == 'box') {
                this.getAccordion().filter('.accordion--box').children().each(function(i) {
                    $(this).css({
                        'top': -i
                    });
                });
            }
        },

        // these functions exist so that if there's nested accordions, we don't accidentally select child accordions.
        getAccordion: function() {
            return this.$el.children();
        },

        getTitles: function() {
            return this.$el.children()
                .children()
                .children('.accordion__title');
        },

        getContent: function() {
            return this.$el.children()
                .children()
                .children('.accordion__content');
        }
    });

    return Accordion;
})();
;

			if (typeof _ElementDefinition == 'undefined' || typeof _ElementDefinition == 'null') {
				var _ElementDefinition = PlatformElement.extend({});
			}

			var _Element = _ElementDefinition.extend({
				initialize: function() {
					// we still want to call the initialize function defined by the developer
					// however, we don't want to call it until placeholders have been replaced
					this.placeholderInterval = setInterval(function() {
						// so use setInterval to check for placeholders.
						if (this.$('.platform-element-child-placeholder').length == 0) {
							clearInterval(this.placeholderInterval);
							this.constructor.__super__.initialize.apply(this);
						}
					}.bind(this), 100);
				}
			});

			_Element.prototype.settings = new PlatformElementSettings({"items_each":[{"items_index":0},{"items_index":1}],"items":2,"style":"simple","title_background":"#E0E0E0","content_background":"#FAFAFA","active_index":"-1"});
			_Element.prototype.settings.page_element_id = "139464311830293207";

			_Element.prototype.element_id = "ffbd14c8-3054-407a-a620-9e43473bb744";
			_Element.prototype.user_id = "64940231";
			_Element.prototype.site_id = "371663783442606631";
			_Element.prototype.assets_path = "//marketplace.editmysite.com/uploads/b/marketplace-elements-915890017822203553-1.3.9/assets/";
			new _Element({
				el: '#element-ffbd14c8-3054-407a-a620-9e43473bb744'
			});
		});
	});

}

if (typeof document.documentElement.appReady == 'undefined') {
	document.documentElement.appReady = 0;
}

if (document.documentElement.appReady || (window.inEditor && window.inEditor())) {
	setupElement139464311830293207();
} else if (document.createEvent && document.addEventListener) {
	document.addEventListener('appReady', setupElement139464311830293207, false);
} else {
	document.documentElement.attachEvent('onpropertychange', function(event){
		if (event.propertyName == 'appReady') {
			setupElement139464311830293207();
		}
	});
}

</script></div></div>
			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

      {% render "_footer.html" %}
