{% comment %} START_DATA
    title: "Member Information"
END_DATA {% endcomment %}

{% render "_header.html" %}

<pens-page-hero
  heading="PENS"
  heading-accent="Member Information"
  subheading="Information for admitted students and parents."
  breadcrumb="{{ page.title }}"
  bgimage="/uploads/6/4/9/4/64940231/background-images/119899516.jpg">
</pens-page-hero>

<!-- SECTION NAV -->
<div class="section-nav">
  <a href="#merch">
    <span class="tag">Merchandise</span>
  </a>
  <a href="#board">
    <span class="tag">Board</span>
  </a>
  <a href="#health">
    <span class="tag">Health</span>
  </a>
  <p><a href="#bylaws">
    <span class="tag">By Laws</span>
  </a>
  <p><a href="#pol">
    <span class="tag">Policies</span>
  </a>
</div>

<div id="merch" style="scroll-margin-top: 80px;"></div>
<h2 class="wsite-content-title" style="text-align:center;"><font size="7" color="#ea1616"><a href="https://www.bonfire.com/store/soquel-pens-merch/" target="_blank">New Soquel PENS Merchandise!</a></font></h2>

<div>
  <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
    <a>
      <img src="uploads/6/4/9/4/64940231/screen-shot-2022-04-22-at-8-13-10-pm_orig.png" alt="Picture" style="width:auto;max-width:100%" />
    </a>
    <div style="display:block;font-size:90%"></div>
  </div>
</div>

<div class="wsite-section-wrap">
  <div class="wsite-section wsite-body-section wsite-background-45"  >
    <div class="wsite-section-content">
      <div class="container">
	<div class="wsite-section-elements">
          <div id="board" style="scroll-margin-top: 80px;"></div>
	  <h2 class="wsite-content-title" style="text-align:center;"><font size="7" color="#f6a107">SPENS BOARD MEETINGS</font></h2>

          <div class="paragraph">Soquel PENS Volunteer Board meets the first Wednesday of every month from 6:30 - 8:30 pm.<br /><br />Because we value input from our entire community - there is a dedicated half hour in meetings for our Membership to bring questions, concerns and school-related issues to the team.<br />&#8203;If you would like to attend a meeting, please send an email to the Board President using the link button below.<br />&#8203;Meeting minutes will be posted at the school.</div>

          <div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
            <a class="wsite-button wsite-button-small wsite-button-normal" href="mailto:soquelpens@gmail.com" >
              <span class="wsite-button-inner">BOARD MEETINGS</span>
            </a>
            <div style="height: 10px; overflow: hidden;"></div></div>

          <div class="paragraph"><em>Meeting agenda, Zoom link, and past meeting minutes available on request.</em></div>

          <div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
            <hr class="styled-hr" style="width:100%;"></hr>
            <div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

          <div class="wsite-spacer" style="height:50px;"></div>

          <div id="health" style="scroll-margin-top: 80px;"></div>
          <h2 class="wsite-content-title" style="text-align:center;"><font size="7" color="#27a509">HEALTH POLICIES</font></h2>

          <h2 class="wsite-content-title" style="text-align:center;"><strong>Our complete health &amp; wellness policy&nbsp;can be found in our school handbook<br /><font size="3">&#8203;(bottom of page)</font></strong></h2>

          <div class="paragraph">As a preventative measure, we encourage all students, staff, and parents to<strong>&nbsp;take common-sense precautions</strong>&nbsp;to prevent the spread of&nbsp;<em>all&nbsp;</em>infectious diseases, including common illnesses like colds and the flu. Such precautions include:<ul style="color:rgb(20, 27, 30)"><li>Stay home if you are sick. Those who have a fever should stay home for at least 24 hours after they no longer have a fever without the use of fever-reducing medicine.</li><li>Promote hand hygiene among families through education, frequent&nbsp;hand-washing, and ensuring the availability of soap, water, and hand sanitizer.</li><li>Avoid touching your eyes, nose, and mouth.</li><li>Teach and encourage safe cough etiquette &ndash; cough or sneeze into a tissue, sleeve, or arm (do not use hands).</li><li>Provide routine surface cleaning at home, vehicles and school.</li></ul></div>

          <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
              <a>
                <img src="uploads/6/4/9/4/64940231/spens-covid-protocol-2023-24_orig.png" alt="Picture" style="width:auto;max-width:100%" />
              </a>
              <div style="display:block;font-size:90%"></div>
          </div></div>

          <div class="paragraph"><em>* Soquel PENS is committed to following the Santa Cruz County Office of Education guidelines for Covid-19 Exposures and Isolation. To learn more, visit their site <a href="https://santacruzcoe.org/health/" target="_blank">HERE</a>.</em><br /></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container">
    <div class="resources-grid">
      <div class="main-col">

        <div id="bylaws" style="scroll-margin-top: 80px;"></div>
        <div class="res-section" id="handouts">
          <h2>Soquel PENS <em>By Laws</em></h2>

          <div class="handout-list">

            <pens-handout
              icon="❤️"
              title="Our Nonprofit Legal Charter"
              url="/uploads/pdfs/2017_constitution_and_bylaws_of_the_soquel_parents_education_nursery_school_1.pdf">
            </pens-handout>
          </div>
        </div>

        <div id="pol" style="scroll-margin-top: 80px;"></div>
        <div class="res-section" id="handouts">
          <h2>School <em>Policies</em></h2>

          <div class="handout-list">

            <pens-handout
              icon="🧠"
              title="Beginning of Year Checklist"
              url="/uploads/pdfs/beginning_of_the_year_checklist__1_.pdf">
            </pens-handout>

            <pens-handout
              icon="📦"
              title="Work Day Jobs"
              url="/uploads/pdfs/workdayjobs.pdf">
            </pens-handout>

            <pens-handout
              icon="🍎"
              title="Snack Guidelines"
              url="/uploads/pdfs/snack_guidelines.pdf">
            </pens-handout>

            <pens-handout
              icon="🧑‍🤝‍🧑"
              title="Sibling Policy"
              url="/uploads/pdfs/bringingsiblingstotheco-op.pdf">
            </pens-handout>

            <pens-handout
              icon="🏥"
              title="Sick Policy"
              url="/uploads/pdfs/sickpolicies.pdf">
            </pens-handout>

            <pens-handout
              icon="📚"
              title="School Handbook"
              url="/uploads/pdfs/SPENS_HANDBOOK_2024.pdf">
            </pens-handout>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% render "_footer.html" %}
