{% render "_header.html" %}
    <div class="banner-wrap">
      <div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image" style="height: 332px;background-image: url(&quot;/uploads/6/4/9/4/64940231/background-images/1518229418.jpeg&quot;) ;background-repeat: no-repeat ;background-position: 50% 50% ;background-size: 100% ;background-color: transparent ;background-size: cover;" >
		<div class="wsite-section-content">

        <div class="container">
          <div class="banner">
				<div class="wsite-section-elements">
					<h2 class="wsite-content-title">Soquel PENS Membership Newsletter</h2>
				</div>
			</div>
        </div><!-- end container -->

		</div>
		<div class=""></div>
	</div>
</div>

</div>

    </div><!-- end banner-wrap -->
    <div class="content-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-background-68" style="height: 194px;" >
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<div class="paragraph" style="text-align:center;"><strong>View the full newsletter below.</strong>&nbsp; <strong>Click</strong> <font color="#da4444">&gt;&gt;&gt; <a href="uploads/6/4/9/4/64940231/spring_newsletter_soquel_pens.pdf">here</a><a href="uploads/6/4/9/4/64940231/spring_newsletter_soquel_pens.pdf">&lt;&lt;&lt;</a></font> for the <strong>PDF version</strong> where you can <strong>follow the links</strong> <strong>it contains!<br /><br /><br /><br />&#8203;</strong><br /></div>

<div class="wsite-scribd">


				<div id="350089504719760527-pdf-fallback" style="display: none;">
					Your browser does not support viewing this document. Click <a href="uploads/6/4/9/4/64940231/spring_newsletter_soquel_pens.pdf" target="_blank" rel="noopener noreferrer">here</a> to download the document.
				</div>
				<div id="350089504719760527-pdf-embed" style="display: none; height: 500px;">
				</div>

				<script type="text/javascript">
					(function () {
						if (window.wpdf && window.wpdf.supportsPDFs && window.wpdf.isPDF('/uploads/6/4/9/4/64940231/spring_newsletter_soquel_pens.pdf')) {
							var embed = document.getElementById('350089504719760527-pdf-embed');
							embed.style.display = 'block';
							window.wpdf.embed('/uploads/6/4/9/4/64940231/spring_newsletter_soquel_pens.pdf', embed);
						} else {
							var fallback = document.getElementById('350089504719760527-pdf-fallback');
							fallback.style.display = 'block';
						}
					})();
				</script>
			</div>
			</div>
		</div>
      </div>

	</div>
</div>

</div>

    </div><!-- end content-wrap -->

    {% render "_footer.html" %}
