{% comment %} START_DATA
    title: "Pay Your PENS Bills"
END_DATA {% endcomment %}

{% render "_header.html" %}

<pens-page-hero
  heading="Soquel PENS"
  heading-accent="Payments"
  subheading="Online payments for members."
  breadcrumb="{{ page.title }}"
  bgimage="/uploads/6/4/9/4/64940231/background-images/119899516.jpg">
</pens-page-hero>

<div class="wsite-section-content">
  <div class="container">
    <div class="wsite-section-elements">
      <div class="paragraph" style="text-align:center;"><strong><font size="5">Tuition is <u>due</u> the <font color="#f60d0d">1st OF THE MONTH</font> and <u>late</u> after the<font color="#f60d0d"> 5th OF THE MONTH</font>.<br />Please contact your treasurer if you need a one-time extension. All PayPal transactions have a fee of 1.99% plus 49 cents added.</font></strong>

        <div id="870527868721786624"><div><style type="text/css">
	      #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart-wrapper {
                  padding: 20px 0;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart {
                  width: 100%;
                  background-color: #FFFFFF;
                  border: 1px solid #C9CDCF;
                  border-spacing: 0;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart td.cell {
                  border-right: 1px solid #C9CDCF;
                  border-bottom: 1px solid #C9CDCF;
                  word-break: break-word;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart td.cell div.paragraph {
                  text-align: center;
                  width: 90%;
                  margin: 0 5%;
                  padding-bottom: 10px;
                  padding-top: 10px;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart td.cell {
                  width: 33.333333333333%;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart tr:first-child td {
                  background-color: #F8F8F8;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart tr:first-child td .paragraph {
                  font-weight: 700;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart tr:last-of-type td {
                  border-bottom: none;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart td:last-of-type {
                  border-right: none;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .price td {
                  border-bottom: 0;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .price td div.paragraph {
                  font-weight: 700;
                  font-size: 300%;
                  padding: 0 auto;
                  color: #222222;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .price td div.paragraph:not(:empty)::before {
                  content: '$';
                  font-size: 50%;
                  vertical-align: super;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .rate td div.paragraph {
                  padding-top: 0;
                  margin-top: -10px;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .buttons-bottom .element,
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .buttons-bottom .cell > div,
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .buttons-middle .element,
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart .buttons-middle .cell > div {
                  text-align: center;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart.buttonLocation-Bottom .buttons-middle {
                  display: none;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart.buttonLocation-Top .rate td,
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart.buttonLocation-Top {
                  border-bottom: none;
              }
              #element-bbf003f1-3f09-4027-bb22-565bfe95af47 .price-chart.buttonLocation-Top .buttons-bottom {
                  display: none;
              }

            </style><div id="element-bbf003f1-3f09-4027-bb22-565bfe95af47" data-platform-element-id="325178514791279925-1.2.7" class="platform-element-contents">
              <div class="price-chart-wrapper">
                <table class="price-chart  buttonLocation-Top">
                  <tr class="buttons-middle">
                    <td class="cell" style="padding:0px 5px;">
                      <paypal-add-to-cart-button data-id="WH63GCL5ZE7Q8"></paypal-add-to-cart-button>
                      <script>
                        cartPaypal.AddToCart({ id: "WH63GCL5ZE7Q8" })
                      </script>
                    </td>
                    <td class="cell" style="padding:0px 5px;">
                      <paypal-add-to-cart-button data-id="5HMJFLEKKAM2Y"></paypal-add-to-cart-button>
                      <script>
                        cartPaypal.AddToCart({ id: "5HMJFLEKKAM2Y" })
                      </script>
                    </td>
                    <td class="cell" style="padding:0px 5px;">
                      <paypal-add-to-cart-button data-id="VV5HC3525ZG6L"></paypal-add-to-cart-button>
                      <script>
                        cartPaypal.AddToCart({ id: "VV5HC3525ZG6L" })
                      </script>
                    </td>
                  </tr>

                  <tr class="metric">
                    <td class="cell"><div class="paragraph">3 days per week</div></td>
                    <td class="cell"><div class="paragraph">2 days per week</div></td>
                    <td class="cell"><div class="paragraph">Applied after 5th of the month</div></td>
                  </tr>

                  <tr class="buttons-bottom">
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="paragraph" style="text-align:center;">
            </div>

            <div id="989406462157566229">
              <div>
                <style type="text/css">
	          #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart-wrapper {
                      padding: 20px 0;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart {
                      width: 100%;
                      background-color: #FFFFFF;
                      border: 1px solid #C9CDCF;
                      border-spacing: 0;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart td.cell {
                      border-right: 1px solid #C9CDCF;
                      border-bottom: 1px solid #C9CDCF;
                      word-break: break-word;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart td.cell div.paragraph {
                      text-align: center;
                      width: 90%;
                      margin: 0 5%;
                      padding-bottom: 10px;
                      padding-top: 10px;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart td.cell {
                      width: 33.333333333333%;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart tr:first-child td {
                      background-color: #F8F8F8;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart tr:first-child td .paragraph {
                      font-weight: 700;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart tr:last-of-type td {
                      border-bottom: none;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart td:last-of-type {
                      border-right: none;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .price td {
                      border-bottom: 0;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .price td div.paragraph {
                      font-weight: 700;
                      font-size: 300%;
                      padding: 0 auto;
                      color: #222222;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .price td div.paragraph:not(:empty)::before {
                      content: '$';
                      font-size: 50%;
                      vertical-align: super;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .rate td div.paragraph {
                      padding-top: 0;
                      margin-top: -10px;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .buttons-bottom .element,
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .buttons-bottom .cell > div,
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .buttons-middle .element,
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart .buttons-middle .cell > div {
                      text-align: center;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart.buttonLocation-Bottom .buttons-middle {
                      display: none;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart.buttonLocation-Top .rate td,
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart.buttonLocation-Top {
                      border-bottom: none;
                  }
                  #element-8e725555-e445-493a-9fc5-48df4963dcda .price-chart.buttonLocation-Top .buttons-bottom {
                      display: none;
                  }

                </style>
                <div id="element-8e725555-e445-493a-9fc5-48df4963dcda" data-platform-element-id="325178514791279925-1.2.7" class="platform-element-contents">
                  <div class="price-chart-wrapper">
                    <table class="price-chart  buttonLocation-Top">
                      <tr class="buttons-middle">
                        <td class="cell" style="padding:0px 5px;">
                          <paypal-add-to-cart-button data-id="Z2HL5PCDRB3PW"></paypal-add-to-cart-button>
                          <script>
                            cartPaypal.AddToCart({ id: "Z2HL5PCDRB3PW" })
                          </script>
                        </td>
                        <td class="cell" style="padding:0px 5px;">
                          <paypal-add-to-cart-button data-id="NMYXVSSNL2DUS"></paypal-add-to-cart-button>
                          <script>
                            cartPaypal.AddToCart({ id: "NMYXVSSNL2DUS" })
                          </script>
                        </td>
                        <td class="cell" style="padding:0px 5px;">
                          <paypal-add-to-cart-button data-id="XUCFG6GWTYH8C"></paypal-add-to-cart-button>
                          <script>
                            cartPaypal.AddToCart({ id: "XUCFG6GWTYH8C" })
                          </script>
                        </td>
                      </tr>

                      <tr class="metric">
                        <td class="cell"><div class="paragraph">* refundable on good standing</div></td>
                        <td class="cell"><div class="paragraph">* non-refundable (applied to final tuition on good standing)&#8203;</div></td>
                        <td class="cell"><div class="paragraph">* non-refundable<br /></div></td>
                      </tr>

                      <tr class="buttons-bottom">
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

{% render "_footer.html" %}
