{% comment %} START_DATA
title: "Support Soquel PENS"

END_DATA {% endcomment %}

{% render "_header.html" %}

{% comment %}
<pens-banner>
  <a href="https://sns.betterworld.org/auctions/soquel-pens-spring-2026-digital" target="_blank">Online Auction 2026!</a>
</pens-banner>
{% endcomment %}

<pens-page-hero
  heading="Support Soquel"
  heading-accent="PENS"
  subheading="Support our school today."
  breadcrumb="{{ page.title }}"
  bgimage="{{ page.pgimage }}">
</pens-page-hero>

<div class="pen-wrap">
  <div class="pen-grid">

  <!-- ─── Usage ──────────────────────────────────────────────────────────── -->
    <give-card
      href="/jamba-juice-buy-one-get-one-free-cards.html"
      img="/uploads/jamba-juice-logo-png_seeklogo-74848.webp"
      label="Offer"
      title="Jamba BOGO"
    ></give-card>
    <give-card
      href="raise-right.html"
      img="uploads/6/4/9/4/64940231/0escrip-webimage-orig_1.jpg"
      label="Program"
      title="Raise Right"
    ></give-card>
    <give-card
      href="/donate.html"
      img="uploads/6/4/9/4/64940231/0store-categories-donate_1.jpg"
      label="Donate"
      title="Gift of Play"
    ></give-card>

  </div>
</div>

{% render "_footer.html" %}
